.input-container {
    .custom-input  {
        margin-bottom: 20px;
        border-radius: 50px;     
        width: 300px;   
        input, textarea {
            background: linear-gradient(to right, #D3ECE4, #DCE3E9);
            width: 100%;
            font-size: 16px;
            font-weight: bold;
            color: #4C7F87;
            text-align: center; 
            border-radius: 50px;
        }
        input {
            height: 33px;
        }
        textarea {
            height: 33px !important;
            padding: 6px 0 7px !important;
        }
    }    
}

