// ==========================================
//            PRODUCT CARD
// ==========================================

.product-card {
  height: 100% !important;
  width: 100% !important;
  background: #fff;
  border-radius: .5rem;
  box-shadow: none !important;
  transition: 0.3s;
  box-shadow: 5px 15px 35px 0 rgba(42,51,83,.12), 0 5px 15px rgba(0,0,0,.06) !important;
  .product-card-icon {
      height: 30px;
      width: 30px;
  }
  .product-card-title {
    text-align: center;
    height: 90px;
    h4 {
        font-size: 20px;
        color: #111010;
        margin: 0;
        position: relative;
    }
  }
  &:hover {
    background: $lightBlue;
    color: #fff !important;
    .product-card-title h4 {
      color: #fff;
    }
    .product-card-progress-bar-container p {
      color: #fff;
    }
    .product-card-progress-bar {
      background-color: #111010 !important;
      div {
        background-color: #fff;
      }
    }
  }
}

.product-card-content {
  padding-top: 0 !important;
  display: flex;
  justify-content: space-between;
}

.product-card-progress-bar-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.product-card-progress-bar {
  transform: rotate(270deg) scaleX(2.5);
  height: 2px !important;
  width: 80px !important;
  background-color: rgb(242, 243, 242) !important;
  div {
      background-color: $lightBlue;
  }
}