.profile-container {
  margin: 20px auto;
  height: auto;
  width: 100%;
  hr {
    margin: 30px auto;
    height: 2px;
    width: 35%;
    border: none;
    background-color: $lightBlue;
  }
  .profile-header-container {
    background-color: #fff;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    img {
      margin-bottom: 20px;
    }
    .profile-description__displayName {
      color: #000;
      font-size: 45px;
      text-transform: capitalize;
    }
  }
  .profile-content__header {
   display: grid;
   align-items: flex-start;
   grid-template-columns: repeat(12, 1fr);
   .profile-content__header__title {
      text-align: center;
      color: $gray;
      margin: 0 !important;
      grid-row: 1;
      grid-column: 4 / 10;
   } 
   .profile-content__header__create-recette {
    grid-row: 1;     
    grid-column: 10 / 12;
   }
  }
  .profile-content__user-recipes {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, calc(33.333% - 50px));
    grid-gap: 50px;
  }
}